<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CefSharp.Common" version="149.0.60" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="149.0.60" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="149.0.6" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="149.0.6" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="10.0.9" targetFramework="net48" />
  <package id="System.Formats.Nrbf" version="10.0.9" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="10.0.9" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="10.0.9" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
</packages>